<div class="col-md-12">
    <h1 class="h1">Anuncios Cadastrados</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Versão</th>
            <th>Ano</th>
            <th>Quilometragem</th>
            <th>Observação</th>
        </tr>
        <tr>
            @if(ViewBag.Anuncios != null)
            {
                foreach(var anuncio in ViewBag.Anuncios)
                {
                    <td class="col-1">@anuncio.Id</td>
                    <td class="col-2">@anuncio.Marca</td>
                    <td class="col-2">@anuncio.Modelo</td>
                    <td class="col-3">@anuncio.Versao</td>
                    <td class="col-1">@anuncio.Ano</td>
                    <td class="col-1">@anuncio.Quilometragem</td>
                    <td class="col-2">@anuncio.Observacao</td>
                }
            }
        </tr>
    </table>
</div>
<div class="col-md-12">
    <form>
        <h1 class="h1">CRUD para os Anuncios</h1>
        <div>
            <table class="col-sm-4">
                <tr>
                    <th style="text-align: center">Marcas</th>
                    <td>
                        @if (ViewBag.MarcasOnline != null)
                        {
                            foreach (var marcaOnline in ViewBag.MarcasOnline)
                            {
                                <button value="@marcaOnline.ID" onclick="verModelos(@marcaOnline.ID)">@marcaOnline.Name</button>
                            }
                            
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table class="col-sm-4">
                <tr>
                    <th style="text-align: center">Modelos</th>
                    <td>
                        <div id="modelos">
                            @if (ViewBag.ModelosOnline != null)
                            {
                                foreach (var modelo in ViewBag.ModelosOnline)
                                {
                                    <button value="@modelo.ID" onclick="verVersoes(@modelo.ID)">@modelo.Name</button>
                                }

                            }
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table class="col-sm-4">
                <tr>
                    <th style="text-align: center">Versoes</th>
                    <td>
                        <div id="versoes">
                            @if (ViewBag.VersoesOnline != null)
                            {
                                foreach (var versao in ViewBag.VersoesOnline)
                                {
                                    <button value="@versao.ID">@versao.Name</button>
                                }

                            }
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12">
            <div>
                <table>
                    <tr>
                        <th><label>Ano</label></th>
                    </tr>
                    <tr>
                        <td><input type="text" name="ano" id="ano" maxlength="4" /></td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <th><label>Quilometragem</label></th>
                    </tr>
                    <tr>
                        <td><input type="text" name="quilometragem" id="quilometragem" maxlength="4" /></td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <th><label>Observações</label></th>
                    </tr>
                    <tr>
                        <textarea name="observacoes" id="observacoes"></textarea>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>

<script>
    function verModelos(id) {
        $.ajax({
            method: 'POST',
            dataType:'json',
            url: '/Home/consultarModelos?marcaId={'+id+'}',
            success: function (json) {
                console.log("ConsultaModelos: " + id);
                alert(modelo);
                for (var modelo in json) {
                    $('#modelos').html('<button value="'+modelo.ID+'">'+modelo.Name+'</button>')
                }       
            },
            error: function (ex) {
                alert("Ocorreu um erro: " + ex);
            }
        })
    }

    function verVersao(id) {
        $.ajax({
            method: 'POST',
            url: '/Home/consultarVersao?modeloId={'+id+'}',
            dataType: 'json',
            success: function (json) {
                console.log("ConsultaVersao: " + id);
                for (var versao in json) {
                    $('#versoes').html('<button value="'+versao.ID+'">'+versao.Name+'</button>')
                }
            },
            error: function (ex) {
                alert("Ocorreu um erro: " + ex);
            }
        })
    }
</script>
