<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/modernizr")
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar_brand text-white text-decoration-none" href="/home/">Teste para WebMotors</a>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Teste para WebMotors - Gabriel Alvaro de Sousa Rodrigues</p>
        </footer>
    </div>

    @Scripts.Render("~/jquery")
    @Scripts.Render("~/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
